name: Go

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build and release
    runs-on: windows-latest
    env:
      GOPLS_VERSION: v0.8.3
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Build
        run: |
          go install -v golang.org/x/tools/gopls@$env:GOPLS_VERSION
          $dir = Get-Location
          cd $env:USERPROFILE\go\bin
          &"c:\Program Files\7-Zip\7z.exe" a $dir\gopls-$env:GOPLS_VERSION.7z gopls.exe

          cd $dir
          $hash = (Get-FileHash -Algorithm SHA256 gopls-$env:GOPLS_VERSION.7z).Hash
          "$hash  gopls-$env:GOPLS_VERSION.7z" | Out-File -Encoding ascii -File sha256sum.txt
        env:
          GO111MODULE: on

      - name: Create and Upload Release
        id: upload-release
        uses: ncipollo/release-action@v1
        with:
          body: |
            gopls ${{ env.GOPLS_VERSION }} binary for Windows 64-bit.
          artifacts: "gopls-${{ env.GOPLS_VERSION }}.7z,sha256sum.txt"
          token: ${{ secrets.GITHUB_TOKEN }}
